

*
{
    max-width: 100%;
}
body
{
    background: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
	text-decoration:none;
	color:inherit;
}

a:hover {
	text-decoration:underline;
}

/*NAVIGATION*/

nav
{
    display: block;
    float: right;
    margin-right: 15px;
}


.nav_container
{
    display: inline-block;
    height: 34px;
    width : 34px;
}

ul.nav li
{
    display: inline-block;
    padding-left: 10px;
}

.nav_container img
{
    height: auto;
    width: 100%;
}


div.nav_container img#profile
{
    border-radius: 50%;
}
/* LOGO and SEARCH BOX*/

div.middle_section
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.logo_container img
{
    position: absolute;
    width: 100%;
    height: auto;
   
}

.search_box
{
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top : 400px;
    left: 200px;
  

    
}

input[type="text"]
{
    width: 600px;
    height: 40px;
    border-radius: 25px;
}

.search_box input
{
    position: absolute;
    text-align: center;

}

div.mic_container
{
    width: 10px;
    height: 10px;
}

.mic_container img
{
    margin: auto;
    position: relative;
    width: 120%;
    height: auto;
    overflow: auto;
    top: 12.5px;
    left: 575px;
}

/*BUTTONS*/
.buttons
{
    position: absolute;
    top: 470px;
    left: 800px;
    display: block;
    
}

.buttons #search
{
    margin-right: 10px;  
}

.buttons #lucky
{
    margin-left: 10px;
}
input[type="submit"]
{
    background-color: #F2F2F2;
    border: none;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}




/*FOOTER*/

footer
{
    width: 100%;
    background: #F2F2F2;
    position: absolute;
    bottom: 0px;
}

div.left
{
    float: left;
}

.left ul li
{
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}

div.right
{
    float: right;   
}

.right ul li
{
    display: inline-block;
    text-align: right;
    margin-right: 15px;
}



