
body
{
    background: white;
}

div.wrapper
{
    margin: 5px;
}

a {
	text-decoration:none;
	color:inherit;
}

a:hover {
	text-decoration:underline;
}

/*NAVIGATION*/

nav
{
    display: block;
    float: right;
}


.nav_container
{
    display: inline-block;
    height: 34px;
    width : 34px;
}

ul.nav li
{
    display: inline-block;
    padding-left: 15px;
}

.nav_container img
{
    height: auto;
    width: 100%;
}

/* LOGO and SEARCH BOX*/

div.middle_section
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 5px solid black;
}

.logo_container img
{
    
    width: 100%;
    height: auto;
    border : 5px solid black;
}
.search_box
{
    width: 120px;
    height: 30px;
    display: block;
    background: red;
}

.search_box input
{
    margin: auto;
    position: absolute;
    left: 50%;
}

div.mic_container
{
    width: 10px;
    height: 10px;
}

.mic_container img
{
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
}

/*BUTTONS*/

/*FOOTER*/

footer
{
    width: 100%;
    background: rgb(138, 138, 138);
    position: absolute;
    bottom: 0px;
}

div.left
{
    float: left;
}

.left ul li
{
    display: inline-block;
    padding-left:  10px;
    text-align: left;
}

div.right
{
    float: right;   
}

.right ul li
{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}


